$bg-base : #FAFAFA ;


/*======================================================
| | fixes for the wellcome page
[ # ]>=============*/
.ins-wrapper{
    margin-left: -1em ;
}

/*======================================================
| | views for some devices 
[ # ]>=============*/

@media ( min-width : 1024px ){
    section {
        padding: 3em ;
    }
}